<div class="sidebar">

    <!-- <div class="profile-name">
        <span>Ketul Patel</span>
    </div> -->
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <div class="image-container">
                    <img alt="logo" class="rounded-circle" src="assets/profile.jpg" title="Logout">
                </div>
            </li>
            <li class="nav-item border-top-1 border-bottom-1">
                <a class="nav-link" routerLink="home">
                    <i class="nav-icon cui-speedometer"></i> home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="registration">
                    <i class="nav-icon cui-speedometer"></i> registration
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="container">
                    <i class="nav-icon cui-speedometer"></i> container
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="directive">
                    <i class="nav-icon cui-speedometer"></i> directive
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="http">
                    <i class="nav-icon cui-speedometer"></i> HttpClient
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="dynamicform">
                    <i class="nav-icon cui-speedometer"></i> dynamic form
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="carousel">
                    <i class="nav-icon cui-speedometer"></i> carousel
                </a>
            </li>

        </ul>
    </nav>
</div>